body {
  background-color: #116485;

}

img {
  float: left;
  margin: 20px 10px 0 10px;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 150px;
  font-family: 'Londrina Shadow', cursive;
  text-decoration: overline;
  text-decoration-color: Black;
}

h2 {
  margin: 100px 0px 0 50px;
  font-family: 'Londrina Shadow', cursive;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0 10px 10px -8px;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Londrina Shadow', cursive;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;

}
